body { 
  background-image: url('/public/mike-von-yellow-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0px auto;
  margin-top:3em;
  padding-bottom:3em;
  background-color: rgba(255,255,255,0.7);
  border-radius: 25px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  color:#000;
}

.bio {
  text-align: center;
  color: #000;
  font-weight: 500;
  margin-top: 16px;
  font-size: 1.5em;
}

.swishButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  font-size: 1.0em;
  font-weight: 600;
}

label.swishText {
  font-weight: 600;
  font-size: 1.2em;
}

label.swishText input{
  border:0px;
  border-radius:25px;
  height:150px;
  width:100%;
}